body {
    background-color: #021d38;
}

header {
    display: flex;
    background-color: #012c57;
    border-bottom: 10px solid #442200;
    padding: 10px 20px;
    justify-content: space-between;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-family: "Fira Code";
    font-weight: 500;
    margin-right: 30px;
}

a:hover {
    color: rgba(255, 255, 255, 0.904);
    cursor: help;

}

a::before {
    content: "";
    background-color: #004400;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

button {
    display: inline-block;
    background-color: #440044;
    padding: 18px 20px;
    margin-right: 0;
    box-shadow: 5px 5px 0 #ffffff;
    border-radius: 12px;
}

button:hover {
    background-color: #5e015ea4;
    cursor: pointer;
}

img {
    border-radius: 30px;
}

img:hover {
    box-shadow: 0px 0px 20px black;
}
